@media screen and (max-height: 720px){
.video2{
  height: 195px;
}
}

.enEspera{
  border-radius: 5px;
  border: 1px solid yellow;
  height: 195px;
  width: auto;
  text-overflow: ellipsis;
  overflow-y: auto;
}
