<div class="row">
  <div class="video2 col s8 m8 l8 xl8">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/tgbNymZ7vqY">
    </iframe>
  </div>
  <div class="enEspera col s4 m4 l4 xl4">
    <ul class="list">
      <li *ngFor="let song of songs; let i = index">
        {{i}}.- {{song.nombre}}
      <li>
    </ul>
  </div>
</div>
