  <div #panel class="row ">
    <div class="txt col s12 m12 l12 xl12" *ngFor="let artista of artistas; let i = index">
      <mz-card (click)="click(artista) [position = i]"  [horizontal]="true" [hoverable]="true" [ngClass]="(position == i) ? 'selectedArtist' : 'unselectArtist'">
        <mz-card-image>
          <img src="assets/logomusic.jpg" />
            </mz-card-image>
           <mz-card-content>
            {{artista.nombre}}
           </mz-card-content>
         </mz-card>
       </div>
     </div>
