.txt{
  text-transform: uppercase;

}


@media screen and (max-height: 720px){
.row{
  height: 620px;
  overflow: auto;
  scrollbar-color:red;
}
}

.logomusic{
  height: 10px;

}

.selectedArtist{
  border: 1px solid yellow;
  font-size: 16px;
  color: yellow;
  text-align: left;
  background-color: #777A7A;
  transform: scale(1.1)
}

.unselectArtist{
  border-radius: 3px;
  text-align: justify;
  font-size: 15px;
  background-color: #1A66CB;
}
