<mz-modal [fixedFooter]="true" class="modal2" [fullscreen]="false" [options]="modalOptions">
  <mz-modal-header>
    <h4>CONFIGURE SU TECLADO</h4>
  </mz-modal-header>
  <mz-modal-content>
    <form [formGroup]="configKeyboard" class="row">
    <mz-input-container class="col s3 m3 l3">
      <input mz-input [label]="'SUBIR CANCIONES'" formControlName="subirCanciones" type="text" >
    </mz-input-container >
    <mz-input-container class="col s3 m3 l3">
      <input mz-input [label]="'BAJAR CANCIONES'" formControlName="bajarCanciones" type="text">
    </mz-input-container>
    <mz-input-container class="col s3 m3 l3">
      <input mz-input [label]="'IR A LA DERECHA'" formControlName="irDerecha" type="text">
    </mz-input-container>
    <mz-input-container class="col s3 m3 l3">
      <input mz-input [label]="'IR A LA IZQUIERDA'" formControlName="irIzquierda" type="text">
    </mz-input-container>
    <mz-input-container class="col s3 m3 l3">
      <input mz-input [label]="'SEÑAL MONEDERO'" formControlName="señalMonedero" type="text">
    </mz-input-container>
    <mz-input-container class="col s3 m3 l3">
      <input mz-input [label]="'SIGUIENTE TEMA'" formControlName="pasarAlSiguienteTema" type="text">
    </mz-input-container>
    <mz-input-container class="col s3 m3 l3">
      <input mz-input [label]="'APAGAR PC'" formControlName="apagarComputadora" type="text">
    </mz-input-container>
    <mz-input-container class="col s3 m3 l3">
      <input mz-input [label]="'SUBIR VOLUMEN'" formControlName="subirVolumen" type="text">
    </mz-input-container>
    <mz-input-container class="col s3 m3 l3">
      <input mz-input [label]="'BAJAR VOLUMEN'" formControlName="bajarVolumen" type="text">
    </mz-input-container>
    <mz-input-container class="col s3 m3 l3">
      <input mz-input [label]="'REPRODUCIR'" formControlName="reproducirCancion" type="text">
    </mz-input-container>
    </form>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" [disabled]="!configKeyboard.valid" (click)="saveKeyboard()">SAVE</button>
    <button mz-button [flat]="true" mz-modal-close>CANCEL</button>
  </mz-modal-footer>
</mz-modal>
