<mz-modal [fixedFooter]="true">
  <mz-modal-header>
    <h4>SIN CREDITOS</h4>
  </mz-modal-header>
  <mz-modal-content>
    CREDITOS INSUFICIENTES PARA REPRODUCIR EL TEMA
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Disagree</button>
    <button mz-button [flat]="true" mz-modal-close>Agree</button>
  </mz-modal-footer>
</mz-modal>
