<mz-navbar navbarClass="black yellow-text">
  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item><a href="#">Creditos</a></mz-navbar-item>
    <mz-navbar-item><a href="#">{{value}}</a></mz-navbar-item>
    <mz-navbar-item><a routerLink="js">JavaScript</a></mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>
<div class="row" style="height: 500px">
  <div class="col s4 m4 l4 xl4" style=" background-color: #2B4541">
    <mz-card class="white-text" style="background-color: rgba(0, 0, 0, 0.7)" [hoverable]="true">
      <mz-card-content>
        <app-artistas></app-artistas>
      </mz-card-content>
    </mz-card>
  </div>
  <div class="white-text col s8 m8 l8 xl8" style="position: absolute; height: 305; bottom: 0px; right: 0px; background-color: #2B4541">
    <mz-card class="white-text" style="background-color: rgba(0, 0, 0, 0.7)" [hoverable]="true">
      <mz-card-content>
        <app-songs></app-songs>
      </mz-card-content>
    </mz-card>
  </div>
  <div class="video col s8 m8 l8 xl8" style="position: absolute; right: 0px; background-color: #2B4541">
    <mz-card class="white-text" style="background-color: rgba(0, 0, 0, 0.7)" [hoverable]="true">
      <mz-card-content>
        <app-video></app-video>
      </mz-card-content>
    </mz-card>
  </div>
</div>
<div>
  <mz-sidenav [draggable]="true" [edge]="'right'" #sidenav [id]="'sidenav-demo'">
    <mz-sidenav-header>
      <img src="assets/logoMenu.png" />
    </mz-sidenav-header>
    <mz-sidenav-subheader>RockolaCLI</mz-sidenav-subheader>

    <mz-sidenav-divider></mz-sidenav-divider>
    <mz-sidenav-link [active]="true">
      <a href="#" (click)="openServiceModal()">CONFIGURAR TECLADO</a>
    </mz-sidenav-link>
    </mz-sidenav>
