@media screen and (max-height: 720px){
.row{
  text-transform: uppercase;
  height: 270px;
  overflow: scroll;

}
}

.selectedSongs{
  border-radius: 5px;
  border: 1px solid yellow;
  border-width: 2px;
  font-size: 18px;
  text-overflow: ellipsis;
  background-color: #777A7A;
  transform: scaleY(1.1)

}

.unselectSongs{
  background-color: #1A66CB;
  text-overflow: ellipsis;
  color: white;

}

.picture{
  position: fixed;
  height: 250px;
  width: 250px;
}
.nameBar{
  position: absolute;
  border-radius: 5px;
  border: 1px solid yellow;
  height: 40px;
  bottom: 0px;
  text-align: center;
  center: center;
  font-size: 30px;
  font-weight: bold;
  }
