<div #panel class="row">
  <div class="col s4 m4 l4 xl4">
    <mz-card class="white-text picture"  [horizontal]="false" [hoverable]="true">
      <mz-card-image>
        <img src="assets/logomusic.jpg" />
      </mz-card-image>
    </mz-card>
  </div>
  <div class="item col s8 m8 l8 xl8  yellow-text">
    <mz-collection>
      <mz-collection-item (click)="customOpenModal(song) [position = i]" *ngFor="let song of songs; let i = index" [ngClass]="(position == i) ? 'selectedSongs' : 'unselectSongs'">
        {{song.nombre}}
        <i class="green-text"  mz-icon-mdi [icon]="'album'" [align]="'left'"></i>
        <a mz-secondary-content><i class="green-text" mz-icon-mdi [icon]="'play'"></i></a>
      </mz-collection-item>
    </mz-collection>
  </div>

  <div class="nameBar col s12 m12 l12 xl12"  style="width: 94%">
    {{artist.nombre}}
    <i class="green-text"  mz-icon-mdi [icon]="'album'" [size]="'40px'" [align]="'left'"></i>
  </div>
</div>


<mz-modal #fixedFooterModal [fixedFooter]="true" style="color: black" [options]="modalOptions">
  <mz-modal-header>
    <h4>Modal Title</h4>
  </mz-modal-header>
  <mz-modal-content>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" (click)="close()">Disagree</button>
    <button mz-button [flat]="true" (click)="closeAndAgree(song)">Agree</button>
  </mz-modal-footer>
</mz-modal>

<mz-modal #noCreditModal [fixedFooter]="true" style="color: black" [options]="modalOptions">
  <mz-modal-header>
    <h4>CREDITOS INSUFICIENTES</h4>
  </mz-modal-header>
  <mz-modal-content>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </mz-modal-content>
</mz-modal>
